In [2]:
import pandas as pd
df=pd.read_csv("Apple.csv")
df.head()

         Open        High         Low       Close   Adj Close    Volume
0  320.929993  322.679993  308.290009  309.510010  308.777191  49897100
1  304.299988  313.489990  302.220001  308.660004  307.929199  43496400
2  315.309998  319.640015  313.630005  318.850006  318.095062  34154100
3  323.519989  324.760010  318.950012  321.450012  320.688934  29706700
4  322.570007  325.220001  320.260010  325.209991  324.440002  26356400

In [11]:
pd.date_range(start="7/1/2019",end="7/24/2019",freq="B")

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22',
               '2019-07-23', '2019-07-24'],
              dtype='datetime64[ns]', freq='B')

In [8]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/25/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25'],
              dtype='datetime64[ns]', freq='C')

In [5]:
df.set_index(rng,inplace=True)
df

,Open,High,Low,Close,Adj Close,Volume
2017-07-03,320.929993,322.679993,308.290009,309.510010,308.777191,49897100
2017-07-05,304.299988,313.489990,302.220001,308.660004,307.929199,43496400
2017-07-06,315.309998,319.640015,313.630005,318.850006,318.095062,34154100
2017-07-07,323.519989,324.760010,318.950012,321.450012,320.688934,29706700
2017-07-10,322.570007,325.220001,320.260010,325.209991,324.440002,26356400
2017-07-11,322.369995,323.399994,318.000000,320.029999,320.029999,29421000
2017-07-12,314.179993,321.549988,313.850006,321.549988,321.549988,27337200
2017-07-13,323.600006,323.899994,318.709991,319.609985,319.609985,23580800
2017-07-14,321.470001,327.220001,321.470001,327.200012,327.200012,28432600
2017-07-17,324.190002,326.220001,323.350006,324.869995,324.869995,23686900
2017-07-18,324.739990,325.980011,322.850006,324.950012,324.950012,20028400
2017-07-19,315.359985,319.750000,314.609985,319.000000,319.000000,38132800
2017-07-20,320.000000,324.570007,320.000000,323.619995,323.619995,23496000
2017-07-21,322.630005,324.649994,318.209991,320.299988,320.299988,25141500
2017-07-24,318.619995,320.450012,310.500000,313.049988,313.049988,32388500
2017-07-25,297.260010,304.179993,289.230011,298.179993,298.179993,55398700