In [6]:
import pandas as pd
df=pd.read_csv('whether2.csv')
df

           Period        Short_Desc         Temp
0           Today      Mostly Sunny  High: 40 °F
1         Tonight  IncreasingClouds   Low: 32 °F
2       Wednesday     Mostly Cloudy  High: 44 °F
3  WednesdayNight     Mostly Cloudy   Low: 34 °F
4        Thursday      Mostly Sunny  High: 42 °F
5   ThursdayNight     Partly Cloudy   Low: 32 °F
6          Friday      Partly Sunny  High: 43 °F
7     FridayNight     Partly Cloudy   Low: 30 °F
8        Saturday             Sunny  High: 37 °F

In [7]:
whether_data={
    'day':['1/1/2017','1/1/2018','1/1/2019','1/1/2014'],
    'tempreture':['30','32','33','34'],
    'windspeed':['3','4','5','6'],
    'event':['rain','snow','sunny','snow']
}
df=pd.DataFrame(whether_data)
df

        day tempreture windspeed  event
0  1/1/2017         30         3   rain
1  1/1/2018         32         4   snow
2  1/1/2019         33         5  sunny
3  1/1/2014         34         6   snow

In [9]:
whether_data=[
    ('1/1/2015',30,3,'snow'),
    ('1/1/2016',25,5,'rainy'),
    ('1/1/2017',32,4,'cloud'),
    ('1/1/2018',35,2,'sunny')
]
df=pd.DataFrame(whether_data,columns=['day','tempreture','windspeed','event'])
df

        day  tempreture  windspeed  event
0  1/1/2015          30          3   snow
1  1/1/2016          25          5  rainy
2  1/1/2017          32          4  cloud
3  1/1/2018          35          2  sunny

In [10]:
whether_data=[
    {'day':'1/1/2015','tempreture':30,'windspeed':'cloud'},
    {'day':'1/1/2016','tempreture':32,'windspeed':'snow'},
    {'day':'1/1/2017','tempreture':33,'windspeed':'sunny'},
    {'day':'1/1/2018','tempreture':31,'windspeed':'cloud'}
]
df=pd.DataFrame(whether_data)
df

        day  tempreture windspeed
0  1/1/2015          30     cloud
1  1/1/2016          32      snow
2  1/1/2017          33     sunny
3  1/1/2018          31     cloud