In [2]:
import pandas as pd
df=pd.read_excel("stocks_report.xls",header=[0,1],index_col=0)
df

              Price                  Price to Earn Ratio(P/E)          \
company    Facebook Google Microsoft                 Facebook  Google
2019-06-05      155     96     56.32                    58.00  253.00
2019-06-06      122     65     69.00                    98.00   23.00
2019-06-07       87    159     68.00                    49.25   68.55
2019-06-08      166     87     25.36                   205.00   81.00
2019-06-09       49     91     86.00                    78.25   57.25


company    Microsoft
2019-06-05     63.25
2019-06-06     56.78
2019-06-07     96.00
2019-06-08     38.23
2019-06-09     46.68

In [15]:
df.stack()

                       Price  Price to Earn Ratio(P/E)
           company
2019-06-05 Facebook   155.00                     58.00
           Google      96.00                    253.00
           Microsoft   56.32                     63.25
2019-06-06 Facebook   122.00                     98.00
           Google      65.00                     23.00
           Microsoft   69.00                     56.78
2019-06-07 Facebook    87.00                     49.25
           Google     159.00                     68.55
           Microsoft   68.00                     96.00
2019-06-08 Facebook   166.00                    205.00
           Google      87.00                     81.00
           Microsoft   25.36                     38.23
2019-06-09 Facebook    49.00                     78.25
           Google      91.00                     57.25
           Microsoft   86.00                     46.68

In [17]:
df_stack=df.stack(level=0)
df_stack

company                              Facebook  Google  Microsoft
2019-06-05 Price                       155.00   96.00      56.32
           Price to Earn Ratio(P/E)     58.00  253.00      63.25
2019-06-06 Price                       122.00   65.00      69.00
           Price to Earn Ratio(P/E)     98.00   23.00      56.78
2019-06-07 Price                        87.00  159.00      68.00
           Price to Earn Ratio(P/E)     49.25   68.55      96.00
2019-06-08 Price                       166.00   87.00      25.36
           Price to Earn Ratio(P/E)    205.00   81.00      38.23
2019-06-09 Price                        49.00   91.00      86.00
           Price to Earn Ratio(P/E)     78.25   57.25      46.68

In [20]:
df_unstack=df_stack.unstack()
df_unstack

company    Facebook                          Google                           \
              Price Price to Earn Ratio(P/E)  Price Price to Earn Ratio(P/E)
2019-06-05    155.0                    58.00   96.0                   253.00
2019-06-06    122.0                    98.00   65.0                    23.00
2019-06-07     87.0                    49.25  159.0                    68.55
2019-06-08    166.0                   205.00   87.0                    81.00
2019-06-09     49.0                    78.25   91.0                    57.25

company    Microsoft
               Price Price to Earn Ratio(P/E)
2019-06-05     56.32                    63.25
2019-06-06     69.00                    56.78
2019-06-07     68.00                    96.00
2019-06-08     25.36                    38.23
2019-06-09     86.00                    46.68

In [4]:
df2=pd.read_excel('stocks_report _new.xls',header=[0,1,2],index_col=0)
df2

        Price Ratio                                                    \
              Price                  Price to Earn Ratio(P/E)
company    Facebook Google Microsoft                 Facebook  Google
Q1 2019         155     96     56.32                    58.00  253.00
Q2 2019         122     65     69.00                    98.00   23.00
Q3 2019          87    159     68.00                    49.25   68.55
Q4 2019         166     87     25.36                   205.00   81.00
Q5 2019          49     91     86.00                    78.25   57.25

                  Income Statements                                       \
                          Net Sales                   Net Profit
company Microsoft          Facebook  Google Microsoft   Facebook  Google
Q1 2019     63.25             58.00  253.00     63.25      58.00  253.00
Q2 2019     56.78             98.00   23.00     56.78      98.00   23.00
Q3 2019     96.00             49.25   68.55     96.00      49.25   68.55
Q4 2019     38.23            205.00   81.00     38.23     205.00   81.00
Q5 2019     46.68             78.25   57.25     46.68      78.25   57.25



company Microsoft
Q1 2019     63.25
Q2 2019     56.78
Q3 2019     96.00
Q4 2019     38.23
Q5 2019     46.68

In [11]:
df2.stack(level=2)

                  Income Statements           Price Ratio  \
                         Net Profit Net Sales       Price
        company
Q1 2019 Facebook              58.00     58.00      155.00
        Google               253.00    253.00       96.00
        Microsoft             63.25     63.25       56.32
Q2 2019 Facebook              98.00     98.00      122.00
        Google                23.00     23.00       65.00
        Microsoft             56.78     56.78       69.00
Q3 2019 Facebook              49.25     49.25       87.00
        Google                68.55     68.55      159.00
        Microsoft             96.00     96.00       68.00
Q4 2019 Facebook             205.00    205.00      166.00
        Google                81.00     81.00       87.00
        Microsoft             38.23     38.23       25.36
Q5 2019 Facebook              78.25     78.25       49.00
        Google                57.25     57.25       91.00
        Microsoft             46.68     46.68       86.00


                  Price to Earn Ratio(P/E)
        company
Q1 2019 Facebook                     58.00
        Google                      253.00
        Microsoft                    63.25
Q2 2019 Facebook                     98.00
        Google                       23.00
        Microsoft                    56.78
Q3 2019 Facebook                     49.25
        Google                       68.55
        Microsoft                    96.00
Q4 2019 Facebook                    205.00
        Google                       81.00
        Microsoft                    38.23
Q5 2019 Facebook                     78.25
        Google                       57.25
        Microsoft                    46.68